# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
*.nbconvert.ipynb

# Virtual Environments
venv/
env/
ENV/
.venv/

# Environment Variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build / Distribution
build/
dist/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.tfvars.json

# AWS Credentials
.aws/
credentials
config

# Kubernetes
*.kubeconfig

# Docker
*.tar
docker-compose.override.yml

# Temporary Files
temp/
tmp/

# Data Files
data/raw/
data/processed/

# Model Experiments
models/temp/
models/experiments/

# Reports / Generated Outputs
reports/
outputs/
artifacts/

# MLflow
mlruns/

# Tooling Cache
.mypy_cache/
.ruff_cache/

# Mac/Linux Swap Files
*.swp
*.swo
