# Python

__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook

.ipynb_checkpoints


# Virtual Environments

venv/
env/
ENV/
.venv/


# Environment Variables

.env
.env.*


# IDEs

.vscode/
.idea/


# Operating System Files

.DS_Store
Thumbs.db


# Logs

*.log


# Pytest

.pytest_cache/
.coverage
htmlcov/


# Build / Distribution

build/
dist/
*.egg-info/


# Terraform

.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.tfvars.json


# AWS Credentials

.aws/


# Kubernetes

*.kubeconfig


# Docker

*.tar


# Temporary Files

temp/
tmp/


# Data Files
# Keep raw data local if dataset is proprietary

data/raw/
data/processed/


# Experimental Models

models/temp/


# MLflow (if added later)

mlruns/


# Mac/Linux Swap Files

*.swp
*.swo
